*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
   background-image: url('images/Super.png');
   background-size: cover;
   background-position: center;
   height: 100vh;
   padding: 20px;
   padding-bottom: 0;
}
header {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 30%;
}
header img {
    box-shadow: 2px 2px 4px #000;
}
h1 {
    color: #ffde59;
    text-shadow: 2px 2px 5px #000;
    margin-left: 10px;
}
.container {
    display: flex;
    align-items: flex-start;
    height: 90%;
}
fieldset{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #D4D9E0;
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
}
legend {
    font-size: 40px;
    text-shadow: 2px 2px 5px #000;
}
button {
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 15px;
}
button:hover {
    background-color: #494f86;
}
input {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
#totalValue{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
#showFull {
    width: 100%;
    height: 270px;
    overflow: auto;
    border: 3px solid #000;
    padding: 10px;
}
footer {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    padding: 5px;
    color: #fff;
}
hr {
    max-width: 200px;
}

@media (max-width: 770px){
    body{
        height: auto;
    }
    header {
        width: 58%;
        margin-bottom: 30px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    fieldset{
        font-size: 15px;
    }
    legend {
        font-size: 30px;
    }
    button {
        font-size: 15px;
        padding: 3px 7px;
    }
    input {
        font-size: 15px;
        width: 50%;
    }
    #totalValue{
        height: 30px;
        width: 50%;
    }
    
}